version: "3.9"

services:
  # Serviço da Aplicação Spring Boot
  app:
    build: .           
    container_name: todo_app
    ports:
      - "8080:8080"      
    depends_on:
      - postgres        
    environment:

      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/todo_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - todo-network

  # Serviço do Banco de Dados
  postgres:
    image: postgres:16
    container_name: postgres_dev
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - todo-network

volumes:
  postgres_data:

networks:
  todo-network:
    driver: bridge
